[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jpholiday = "*"
pytz = "*"
numpy = "*"
pandas = "*"
requests = "*"
py-strict-list = {editable = true, git = "https://github.com/deepgreenAN/py_strict_list.git"}

[dev-packages]
jupyter = "*"
jupyter-contrib-nbextensions = "*"
pyreadline = "*"
line-profiler = {file = "https://download.lfd.uci.edu/pythonlibs/w4tscw6k/line_profiler-3.2.6-cp37-cp37m-win_amd64.whl"}
bokeh = "*"

[requires]
python_version = "3.7"
